/* Main section styling */

main {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    align-items: center; /* Center elements horizontally */
    padding: 10px; /* Add padding on both sides */
    color: var(--primary-fontcolor); /* Use primary font color */
}

/* Image of the user on the about page */
main img {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
    max-width: 300px; /* Cap width for larger screens */
    border: 5px solid black;
    border-radius: 50%; /* Circular image */
    margin-top: 20px; /* Space above the image */
}

/* About text block styling */
.about-text {
    text-align: start; /* Align text to the left */
    margin: 24px 4px; /* Margin on all sides */
    padding: 7px 20px; /* Padding for the text block */
    border: solid black; /* Border around the text block */
    background-color: var(--primary-background); /* Background color */
    color: var(--primary-fontcolor); /* Font color */
}

/* Headings and icon styling */
h2 {
    color: var(--secondary-color); /* Heading color */
    text-decoration: underline; /* Underline heading */
}

h3, h4 {
    color: var(--secondary-color); /* Color for h3 and h4 */
}

i {
    color: var(--secondary-color); /* Icon color */
    font-size: 25px; /* Icon size */
}

/* Resume button styling */
.resume {
    height: 40px; /* Button height */
    background-color: var(--secondary-color); /* Button background */
    border: 2px solid black; /* Button border */
    border-radius: 6px; /* Rounded corners */
    min-width: 80px; /* Minimum width for the button */
    font-size: 15px; /* Font size for button text */
    color: var(--primary-background); /* Font color */
    text-align: center; /* Center text */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.resume:hover {
    background-color: grey; /* Background color on hover */
    transform: scale(1.1); /* Slight scale effect on hover */
}

/* Media query for tablets */
@media screen and (min-width: 481px) {
    .about-text {
        padding-left: 50px; /* Increase left padding on larger screens */
        margin-left: 50px; /* Increase left margin */
    }
    
    main img {
        width: 270px; /* Set a specific size for the image */
        height: auto; /* Maintain aspect ratio */
        margin-top: 30px; /* Space above the image */
        margin-left: 20px; /* Space to the left */
    }
}

/* Media query for desktops */
@media screen and (min-width: 1080px) {
    .about-text {
        margin-right: 50px; /* Increase right margin on larger screens */
    }
}