/* Main section styling */
main {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    text-align: center; /* Center-align text */
    color: var(--primary-background); /* Text color */
    padding: 0 10px; /* Horizontal padding */
}

/* Image styling for the main page */
main img {
    max-width: 50%; /* Limit image width */
    height: auto; /* Maintain aspect ratio */
    border: 5px solid black; /* Defined border */
    border-radius: 50%; /* Circular image */
    margin: 20px 0; /* Margin above and below */
    animation: fade-in 4s; /* Fade-in animation */
}

/* Text block styling */
.home-text {
    margin-bottom: 20px; /* Space below text block */
    border: solid black; /* Border around text block */
    background-color: var(--primary-background); /* Background color */
    color: var(--primary-fontcolor); /* Font color */
    animation: fade-in 3s; /* Fade-in animation */
}

/* Container for the text */
.container {
    display: inline-block; /* Inline-block to fit content width */
}

p {
    margin: 10px; /* Remove default margin */
    padding: 10px; /* Remove default padding */
}

/* Styling for the main welcome text and animations */
.text {
    color: var(--secondary-color); /* Text color */
    border-right: 2px solid; /* Cursor effect */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    animation: typing 2s steps(22), cursor 0.4s step-end infinite alternate; /* Typing and cursor animations */
}

/* Media query for tablets and above */
@media screen and (min-width: 481px) {
    .main-section {
        display: flex; /* Flex layout for section */
        text-align: center; /* Center text */
        margin: 20px; /* Margin around the section */
    }
      
    .main-img {
        width: 250px; /* Specific image width */
        height: auto; /* Maintain aspect ratio */
        margin: 10px 50px; /* Margin around the image */
    }

    .home-text {
        margin: auto; /* Center the text block */
        padding: 20px 10px; /* Padding inside text block */
    }
}

/* Media query for desktop screens */
@media screen and (min-width: 1080px) {
    main {
        flex-direction: row; /* Row layout for larger screens */
        justify-content: center; /* Center children */
        font-size: 30px; /* Increase font size */
    }

    main img {
        width: 330px; /* Fixed image width for desktop */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Animation keyframes */
/* Fade-in effect */
@keyframes fade-in {
    0% {
        opacity: 0%; /* Fully transparent */
    }
    100% {
        opacity: 100%; /* Fully opaque */
    }
}

/* Cursor blinking effect */
@keyframes cursor {
    50% {
        border-color: transparent; /* Hide border at halfway point */
    } 
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0; /* Start with no width */
    }
    to {
        width: 100%; /* End with full width */
    }    
}